eeprom_i2c_bus=i2c-9
eeprom_chip_type=24c64
eeprom_chip_address=50
vendor=SunFounder
dto_max_current=5000
dto_i2c_enable=1
dto_spi_enable=1
eeprom_pcb_code="O2602V51"
product_name="Pionman5 Pro Max"
eeprom_file="o1903v10_pironman_u1.eep"
dt_blob="sunfounder-pionman5promax.dtbo"
dto_ir_enable=1
dto_ir_pin=13
dto_i2s_dac_enable=-
dto_hat_current_supply=0
dto_gpio_poweroff=0
dto_hat_mode_current=0
dto_include_dt_overlay="googlevoicehat-soundcard-overlay.dts"
dto_google_soundcard_enable=1
dto_i2s_speaker_enable=-
dto_i2s_speaker_mic_enable=0
dto_otg_enable=0
dto_pwm_fan_enable=1
eeprom_custom_data=
